<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="container">
  <a href="/" class="help-block">< Home</a>

  <form id="requestForm" accept-charset=utf-8 action="http://demo32-test.apigee.net/hackathon-servicenow/v1/access/wangh10" method="get">
    <div class="form-group">
      <label for="email">Lookup ID</label>
      <input type="text" class="form-control" id="requestFor" placeholder="Nwie ID" name="requestFor">
    </div>
    <input type="submit" class="btn btn-primary" id="submit" value="Search">
  </form>
</div>
